@model FoodService.DTO.CreateOrderModel

@{
    ViewData["Title"] = "AddNewOrder";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Add new Order to the Queue</h2>

<h4>Provide needed information</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("AddNewOrder", "Home", null, FormMethod.Post))
        {
            @Html.TextBoxFor(model => model.CustomerSelected, "", null);
            <fieldset>
                <dl>
                    <dt>
                        @Html.LabelFor(x => x.CustomerSelected)
                    </dt>
                    <dd>
                        @Html.DropDownListFor(x => x.CustomerSelected, Model.Customers)
                    </dd>
                </dl>
            </fieldset>
            @Html.TextBoxFor(model => model.EmployeeSeleced, "", null);
            <fieldset>
                <dl>
                    <dt>
                        @Html.LabelFor(x => x.EmployeeSeleced)
                    </dt>
                    <dd>
                        @Html.DropDownListFor(x => x.EmployeeSeleced, Model.Employees)
                    </dd>
                </dl>
            </fieldset>

            <input type="submit" name="SaveButton" value="Save" />

        }





        @*<form asp


                -controller="Home" asp-action="AddNewOrder" method="post">
                <select asp-for="CustomerSelected.Value"
                        asp-items="Model.Customers">
                    <option>XD</option>
                </select>

                <button type="submit">Register</button>
            </form>*@
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
